<module-view icon="app-product-icon" parent-title="维修保养登记 / " title="叉车维修登记">
<div class="col-lg-12">
 <div class="panel panel-default">
  <div class="panel-body">
    <div class="jumbotron  col-md-12">
        <div class="row">
            <div class="col-md-12 block-title">搜索条件</div>
        </div>
        <div class="form-group label-floating col-md-12">
            <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
            <input class="form-control" id="focusedInput1" type="text">
        </div>
        <div class="col-md-12 ">
            <a class="btn btn-primary  btn-raised btn-lg pull-right">查询</a>
        </div>
    </div>
    <div class="wrapper-sm bg-white-only b-b">
       <button class="btn m-l-xs btn-sm btn-info btn-raised"
     ng-click="maintainRegister.openMaintainRegisterAdd()">
       <i class="fa fa-unlock"></i>新增</button>
      <button class="btn m-l-xs btn-sm btn-success btn-raised"
       ng-click="maintainRegister.openMaintainRegisterEdit()">
       <i class="fa fa-plus"></i>編輯</button>
     <button class="btn m-l-xs btn-sm btn-danger btn-raised"
     ng-click="maintainRegister.remove()">
       <i class="fa fa-lock"></i>刪除</button>  
    </div>
     <div id="tableWrape" class="table-container">
           <table class="table table-condensed table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-click="maintainRegister.checkedAll()">
                                </label>
                            </div>
                        </th>
                        <th ng-click="col='repair_no';desc=!desc">维修单据号</th>
                        <th ng-click="col='device_no';desc=!desc">叉车编号</th>
                        <th ng-click="col='da_repair';desc=!desc">维修日期</th>
                        <th ng-click="col='repair_type';desc=!desc">维修类型</th>
                        <th ng-click="col='repair_content';desc=!desc">维修内容</th>
                        <th ng-click="col='repair_fact';desc=!desc">维修厂商</th>
                        <th ng-click="col='total_cost';desc=!desc">维修费用</th>
                        <th ng-click="col='brokerage';desc=!desc">经手人</th>
                        <th ng-click="col='registrant';desc=!desc">登记人</th>
                        <th ng-click="col='remark';desc=!desc">备注</th>
                        <th ng-click="col='da_add';desc=!desc">添加时间</th>
                        <th ng-click="col='da_update';desc=!desc">修改时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in maintainRegister.tableData.rows | orderBy:col:desc">
                        <td>{{$index+1}}</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="maintainRegister.allChecked">
                                </label>
                            </div>
                        </td>
                        <td bg-bind="item.repair_no">{{item.repair_no}}</td>
                        <td bg-bind="item.device_no">{{item.device_no}}</td>
                        <td bg-bind="item.da_repair">{{item.da_repair}}</td>
                        <td bg-bind="item.repair_type">{{item.repair_type}}</td>
                        <td bg-bind="item.repair_content">{{item.repair_content}}</td>
                        <td bg-bind="item.repair_fact">{{item.repair_fact}}</td>
                        <td bg-bind="item.total_cost">{{item.total_cost}}</td>
                        <td bg-bind="item.brokerage">{{item.brokerage}}</td>
                        <td bg-bind="item.registrant">{{item.registrant}}</td>
                        <td bg-bind="item.remark">{{item.remark}}</td>
                        <td bg-bind="item.da_add">{{item.da_add}}</td>
                        <td bg-bind="item.da_update">{{item.da_update}}</td>
                    </tr>
                </tbody>
            </table>  
        </div>     
        <app-pagination page-index="maintainRegister.condition.pageNo" total-items="maintainRegister.totalRecord" page-item-unit="maintainRegister.condition.pageSize" show-total="true"></app-pagination>
        </div> 
       </div>    
     </div> 
    </div>
</module-view>
