<div class="modal-header">
    <div class="row">
        <div class="col-md-12 block-title">新增</div>
    </div>
</div>
<div class="modal-body">
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
    <div class="form-group label-floating col-md-6">
        <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
        <input class="form-control" id="focusedInput1" type="text">
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-success" ng-click="addForkliftController.save()">保存</a>
    <a class="btn btn-primary" ng-click="addForkliftController.close()">取消</a>
</div>
