<div class="modal-header">
    <!-- <div class="modal-title">叉车检索</div> -->
    <div class="row">
        <div class="col-md-6 block-title">修改信息</div>
    </div>
</div>
<div class="modal-body">
        <div class="form-group col-md-6">
          <div class="col-md-5">
          <div for="device_no" class="updatelabel">品牌:*</div>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="device_no">
          </div>
        </div>

       <div class="form-group col-md-6">
          <div class="col-md-5">
          <div for="workhours" class="updatelabel">型号: *</div>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="workhours">
          </div>
        </div>

        <div class="form-group col-md-6">
         <div class="col-md-5">
         <div for="last_workhours" class="updatelabel">手机号码: *</div>
         </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="last_workhours">
          </div>
        </div>
         <div class="form-group col-md-6">
          <div class="col-md-5">
          <div for="device_no" class="updatelabel">部门名称:*</div>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="device_no">
          </div>
        </div>

       <div class="form-group col-md-12">
          <div class="col-md-3">
          <div for="workhours" class="updatelabel">备注:</div>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="workhours">
          </div>
        </div>
       <br>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-raised btn-info" 
    ng-click="driverArchivesEdit.save()">保存</button>
    <button type="button" class="btn btn-raised btn-default" 
    ng-click="driverArchivesEdit.close()">关闭</button>
</div>