<module-view icon="app-product-icon" parent-title="基础资料 / " title="控制器管理">

<div class="col-lg-12">
  <div class="panel panel-default">
   <div class="panel-body">
    <div class="jumbotron  col-md-12">
        <div class="row">
            <div class="col-md-12 block-title">搜索条件</div>
        </div>
        <div class="form-group label-floating col-md-8">
            <label class="control-label" for="focusedInput1">叉车编号、部门、司机</label>
            <input class="form-control" id="focusedInput1" type="text">
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary  btn-raised btn-lg pull-right">查询</a>
        </div>
    </div>
    <div class="wrapper-sm bg-white-only b-b">
       <button class="btn m-l-xs btn-sm btn-info btn-raised"
       ng-click="forkliftController.openForkliftControllerAdd()">
         <i class="fa fa-unlock"></i>新增</button>
         <button class="btn m-l-xs btn-sm btn-success btn-raised">
         <i class="fa fa-plus"></i>編輯</button>
       <button class="btn m-l-xs btn-sm btn-danger btn-raised">
         <i class="fa fa-lock"></i>刪除</button>          
    </div>
       <div class="jumbotron  col-md-12">
        <div class="table-container">
            <table class="table table-condensed table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-click="forkliftController.checkedAll()">
                                </label>
                            </div>
                        </th>
                        <th ng-click="col='gps_alarm';desc=!desc">叉车编号</th>
                        <th ng-click="col='preheat_status';desc=!desc">数据时间</th>
                        <th ng-click="col='acc_padel_position';desc=!desc">部门名称</th>
                        <th ng-click="col='location';desc=!desc">水温</th>
                        <th ng-click="col='oil_pump_motor_tempera';desc=!desc">油量</th>
                        <th ng-click="col='engine_oil_temperature';desc=!desc">剩余电量</th>
                        <th ng-click="col='middle_bit';desc=!desc">叉车工作小时数</th>
                        <th ng-click="col='fuel_temperature';desc=!desc">机油压力报警</th>
                        <th ng-click="col='lock_status';desc=!desc">油水分离器报警</th>
                        <th ng-click="col='pull_time';desc=!desc">油温报警</th>
                        <th ng-click="col='hard_id';desc=!desc">行车制动压力报</th>
                        <th ng-click="col='driver_id';desc=!desc">KSI时间</th>
                        <th ng-click="col='longitude';desc=!desc">PUMP时间</th>
                        <th ng-click="col='fuel_consumption';desc=!desc">牵引时间</th>
                        <th ng-click="col='client_id';desc=!desc">牵引故障码</th>
                        <th ng-click="col='department_name';desc=!desc">油泵故障码</th>
                        <th ng-click="col='manifold_temperature';desc=!desc">实时车速</th>
                        <th ng-click="col='vid';desc=!desc">牵引电机温度</th>
                        <th ng-click="col='region_alarm';desc=!desc">油泵电机温度</th>
                        <th ng-click="col='collision';desc=!desc">牵引电控温度</th>
                        <th ng-click="col='r_longitude';desc=!desc">油泵电控温度</th>
                        <th ng-click="col='pump_time';desc=!desc">发动机转速rpm</th>
                        <th ng-click="col='gps_no';desc=!desc">发动机扭矩比%</th>
                        <th ng-click="col='serious_fault';desc=!desc">油门踏板位置</th>
                        <th ng-click="col='water_temperature';desc=!desc">相对增压压力kpa</th>
                        <th ng-click="col='brake_pressure_alarm';desc=!desc">冷却水温</th>
                        <th ng-click="col='handler_push';desc=!desc">发动机燃油温度</th>
                        <th ng-click="col='department_no';desc=!desc">进气温度</th>
                        <th ng-click="col='device_power';desc=!desc">发动机机油温度</th>
                        <th ng-click="col='average_fuel';desc=!desc">发动机扭矩比%</th>
                        <th ng-click="col='promary_id';desc=!desc">油门踏板位置</th>
                        <th ng-click="col='repair_info';desc=!desc">相对增压压力kpa</th>
                        <th ng-click="col='can_speed';desc=!desc">冷却水温</th>
                        <th ng-click="col='latitude';desc=!desc">发动机燃油温度</th>
                        <th ng-click="col='work_hours';desc=!desc">小时燃油消耗l/h</th>
                        <th ng-click="col='car_sn';desc=!desc">瞬态燃油油耗km/kg</th>
                        <th ng-click="col='engine_speed';desc=!desc">平均燃油油耗km/kg</th>
                        <th ng-click="col='company_id';desc=!desc">混动故障码信息</th>
                        <th ng-click="col='weight';desc=!desc">维保提示</th>
                        <th ng-click="col='driver_name';desc=!desc">充电状态</th>
                        <th ng-click="col='can_error_code';desc=!desc">预热</th>
                        <th ng-click="col='v_type';desc=!desc">发动机故障</th>
                        <th ng-click="col='pump_control_temperature';desc=!desc">中位</th>
                        <th ng-click="col='fuel_tempera_alarm';desc=!desc">故障报警</th>
                        <th ng-click="col='city_id';desc=!desc">手制动</th>
                        <th ng-click="col='r_latitude';desc=!desc">严重故障报警</th>
                        <th ng-click="col='speedlimit_status';desc=!desc">空滤</th>
                        <th ng-click="col='da_up';desc=!desc">安全带</th>
                        <th ng-click="col='fuel_press_alarm';desc=!desc">载重/kg</th>
                        <th ng-click="col='coolant_temperature';desc=!desc">离位超时/s</th>
                        <th ng-click="col='hd_type_no';desc=!desc">碰撞</th>
                        <th ng-click="col='air_filter';desc=!desc">司机姓名</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in forkliftController.tableData.rows | orderBy:col:desc">
                        <td>{{$index+1}}</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="forkliftController.allChecked">
                                </label>
                            </div>
                        </td>
                        <td bg-bind="item.gps_alarm">{{item.gps_alarm}}</td>
                        <td bg-bind="item.preheat_status">{{item.preheat_status}}</td>
                        <td bg-bind="item.acc_padel_position">{{item.acc_padel_position}}</td>
                        <td bg-bind="item.location">{{item.location}}</td>
                        <td bg-bind="item.oil_pump_motor_tempera">{{item.oil_pump_motor_tempera}}</td>
                        <td bg-bind="item.engine_oil_temperature">{{item.engine_oil_temperature}}</td>
                        <td bg-bind="item.middle_bit">{{item.middle_bit}}</td>
                        <td bg-bind="item.fuel_temperature">{{item.fuel_temperature}}</td>
                        <td bg-bind="item.lock_status">{{item.lock_status}}</td>
                        <td bg-bind="item.pull_time">{{item.pull_time}}</td>
                        <td bg-bind="item.hard_id">{{item.hard_id}}</td>
                        <td bg-bind="item.driver_id">{{item.driver_id}}</td>
                        <td bg-bind="item.longitude">{{item.longitude}}</td>
                        <td bg-bind="item.fuel_consumption">{{item.fuel_consumption}}</td>
                        <td bg-bind="item.client_id">{{item.client_id}}</td>
                        <td bg-bind="item.department_name">{{item.department_name}}</td>
                        <td bg-bind="item.manifold_temperature">{{item.manifold_temperature}}</td>
                        <td bg-bind="item.vid">{{item.vid}}</td>
                        <td bg-bind="item.region_alarm">{{item.region_alarm}}</td>
                        <td bg-bind="item.collision">{{item.collision}}</td>
                        <td bg-bind="item.r_longitude">{{item.r_longitude}}</td>
                        <td bg-bind="item.pump_time">{{item.pump_time}}</td>
                        <td bg-bind="item.gps_no">{{item.gps_no}}</td>
                        <td bg-bind="item.serious_fault">{{item.serious_fault}}</td>
                        <td bg-bind="item.water_temperature">{{item.water_temperature}}</td>
                        <td bg-bind="item.brake_pressure_alarm">{{item.brake_pressure_alarm}}</td>
                        <td bg-bind="item.handler_push">{{item.handler_push}}</td>
                        <td bg-bind="item.department_no">{{item.department_no}}</td>
                        <td bg-bind="item.device_power">{{item.device_power}}</td>
                        <td bg-bind="item.average_fuel">{{item.average_fuel}}</td>
                        <td bg-bind="item.promary_id">{{item.promary_id}}</td>
                        <td bg-bind="item.repair_info">{{item.repair_info}}</td>
                        <td bg-bind="item.can_speed">{{item.can_speed}}</td>
                        <td bg-bind="item.latitude">{{item.latitude}}</td>
                        <td bg-bind="item.work_hours">{{item.work_hours}}</td>
                        <td bg-bind="item.car_sn">{{item.car_sn}}</td>
                        <td bg-bind="item.engine_speed">{{item.engine_speed}}</td>
                        <td bg-bind="item.company_id">{{item.company_id}}</td>
                        <td bg-bind="item.weight">{{item.weight}}</td>
                        <td bg-bind="item.driver_name">{{item.driver_name}}</td>
                        <td bg-bind="item.can_error_code">{{item.can_error_code}}</td>
                        <td bg-bind="item.v_type">{{item.v_type}}</td>
                        <td bg-bind="item.pump_control_temperature">{{item.pump_control_temperature}}</td>
                        <td bg-bind="item.fuel_tempera_alarm">{{item.fuel_tempera_alarm}}</td>
                        <td bg-bind="item.city_id">{{item.city_id}}</td>
                        <td bg-bind="item.r_latitude">{{item.r_latitude}}</td>
                        <td bg-bind="item.speedlimit_status">{{item.speedlimit_status}}</td>
                        <td bg-bind="item.da_up">{{item.da_up}}</td>
                        <td bg-bind="item.fuel_press_alarm">{{item.fuel_press_alarm}}</td>
                        <td bg-bind="item.coolant_temperature">{{item.coolant_temperature}}</td>
                        <td bg-bind="item.hd_type_no">{{item.hd_type_no}}</td>
                        <td bg-bind="item.air_filter">{{item.air_filter}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-pagination page-index="forkliftController.condition.pageNo" total-items="forkliftController.totalRecord" page-item-unit="forkliftController.condition.pageSize" show-total="true"></app-pagination>
        <div>
        </div> 
      </div>    
    </div> 
</div>
</module-view>
