<div class="modal-header">
    <!-- <div class="modal-title">叉车检索</div> -->
    <div class="row">
        <div class="col-md-12 block-title">修改信息</div>
    </div>
</div>
<div class="modal-body">
        <div class="form-group col-md-12">
          <div class="col-md-2">
          <div for="device_no" class="updatelabel">物料类型:*</div>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="device_no">
          </div>
        </div>

       <div class="form-group col-md-12">
          <div class="col-md-2">
          <div for="workhours" class="updatelabel">物料名称:*</div>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="workhours">
          </div>
        </div>

        <div class="form-group col-md-12">
         <div class="col-md-2">
         <div for="last_workhours" class="updatelabel">物料代码:*</div>
         </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="last_workhours">
          </div>
        </div>

         
       <br>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-raised btn-info" 
    ng-click="vehicleTypeAdd.save()">保存</button>
    <button type="button" class="btn btn-raised btn-default" 
    ng-click="vehicleTypeAdd.close()">关闭</button>
</div>