/*-------------------------------------- Global --------------------------------------*/
a {
    cursor: pointer;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
input{
    font-family: Microsoft YaHei;
    /*font-family: PingFangSC-Regular;*/
}


.product-image-size {
    width: 640px;
    height: 640px;
    max-width: 100%;
    max-height: 100%;
}

.popularize-image-size {
    width: 650px;
    height: 340px;
    max-width: 100%;
    max-height: 100%;
}

/*-------------------------------------- SweetAlert Extend --------------------------------------*/
.sweet-alert {
    font-family: Microsoft YaHei;
}

/*-------------------------------------- Bootstrap Extend --------------------------------------*/
.container-fluid {
    padding-bottom: 20px;
}

.table>tbody>tr>td {
    vertical-align: middle !important;
}

.table {
    margin-top: 10px;
}

.row-space {
    margin-top: 15px;
}

.row-bottom-space {
    margin-bottom: 15px;
}

.btn-longer {
    padding: 6px 20px !important;
}

.btn-no-padding {
    padding: 0;
}

.bg-notice {
    background-color: #0099cc;
    border-color: #0099cc;
    color: #ffffff;
}

.text-notice {
    color: #0099cc;
}

.btn-group.open > .dropdown-toggle.btn.btn-notice,
.btn-group-vertical.open > .dropdown-toggle.btn.btn-notice {
  background-color: #0099cc;
}

.btn:not(.btn-raised).btn-notice,
.input-group-btn .btn:not(.btn-raised).btn-notice {
  color: #0099cc;
}

.btn.btn-raised.btn-notice,
.input-group-btn .btn.btn-raised.btn-notice,
.btn.btn-fab.btn-notice,
.input-group-btn .btn.btn-fab.btn-notice,
.btn-group-raised .btn.btn-notice,
.btn-group-raised .input-group-btn .btn.btn-notice {
  background-color: #0099cc;
  color: rgba(255,255,255, 0.84);
}

.btn.btn-raised:not(.btn-link):hover.btn-notice,
.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-notice,
.btn-group-raised .btn:not(.btn-link):hover.btn-notice,
.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-notice,
.btn.btn-raised:not(.btn-link):focus.btn-notice,
.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-notice,
.btn-group-raised .btn:not(.btn-link):focus.btn-notice,
.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-notice,
.btn.btn-raised:not(.btn-link).active.btn-notice,
.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-notice,
.btn-group-raised .btn:not(.btn-link).active.btn-notice,
.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-notice,
.btn.btn-raised:not(.btn-link):active.btn-notice,
.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-notice,
.btn-group-raised .btn:not(.btn-link):active.btn-notice,
.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-notice {
  background-color: #218aad;
}

.btn-notice .badge {
  color: #0099cc;
  background-color: #fff;
}

.alert-notice {
    color: #ffffff;
    background-color: #0099cc;
    border: 1px solid #d9d9d9;
}

.form-group-extend {
    margin-top: 9px;
    padding-bottom: 0;
}

.form-control-extend {
    margin-bottom: 0;
}

/*-------------------------------------- Home --------------------------------------*/
.tooltip-inner {
    white-space: nowrap;
    background-color: rgba(79, 86, 93, .8);
    padding: 5px 8px;
}

.home-parent-module {
    height: 100%;
    width: 56px;
    background-color: #212529;
    position: fixed;
    left: 0;
    padding-top: 10px;
    color: #c3cfd8;
    font-size: 16px;
    z-index: 2;
}

.home-parent-module .title-image {
    margin-bottom: 30px;
}

.home-parent-module .item {
    padding: 12.5px 0 12.5px 0;
    cursor: pointer;
}

.home-parent-module .item-marketing {
    /*margin-top: 30px;*/
}

.home-parent-module .chosen {
    color: #ffffff;
    background-color: rgba(79, 86, 93, 0.5);
}

.home-child-module {
    height: 100%;
    width: 176px;
    background-color: #31373d;
    position: fixed;
    left: 56px;
    color: #c3cfd8;
}

.home-child-module .title {
    height: 56px;
    line-height: 56px;
    font-size: 15px;
    padding-left: 20px;
    border-bottom: 1px #ccc solid;
    box-shadow: inset 0px -1px 0px 0px rgba(32, 36, 40, 0.50);
}

.home-child-module .item {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    padding-left: 20px;
    cursor: pointer;
}

.home-child-module .chosen {
    background-color: #454e57;
    color: #ffffff;
}

.home-views {
    margin-left: 232px;
    /*min-width: 1170px;*/
}

/*-------------------------------------- forkliftMonitor --------------------------------------*/
#mapWrape{
    background-color: gray;
    height: 300px;

}

/*-------------------------------------- forkliftSearch --------------------------------------*/
.forkliftSearch .form-group{
    margin: 0px;
}

.forkliftSearch .panel-body
{
    padding: 0;
}

.blockTitle{
    height: 30px;
    line-height: 30px;
}

.titleBlock{
     display: inline-block;
     width:10px;
     height: 30px;
     background-color: black; 
}

.blockTitle h5{
    position: absolute;
    display: inline-block;
    margin: 0px;
    top: 8px;
    left: 30px;
}





