/*-------------------------------------- Global --------------------------------------*/

a {
    cursor: pointer;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
input {
    font-family: Microsoft YaHei;
    /*font-family: PingFangSC-Regular;*/
}

body{
     background-color: #F1F6FA;
}



.product-image-size {
    width: 640px;
    height: 640px;
    max-width: 100%;
    max-height: 100%;
}

.popularize-image-size {
    width: 650px;
    height: 340px;
    max-width: 100%;
    max-height: 100%;
}

.block-title {
    border-left: 9px solid #d0021b;
    height: 30px;
    line-height: 30px;
    font-style: 20px;
    font-weight: bold;
    left: 20px;
}

.table-container {
    width: 100%;
    overflow-y: auto;
    overflow: auto;
    margin: 0 0 1em;

}


/*-------------------------------------- SweetAlert Extend --------------------------------------*/

.sweet-alert {
    font-family: Microsoft YaHei;
}


/*-------------------------------------- Bootstrap Extend --------------------------------------*/

.container-fluid {
    padding-bottom: 20px;
    background-color: #F1F6FA;
}

table > thead > tr > th{
    text-align:center;
    vertical-align:middle !important;
     background-color: #F1F6FA;
}

table > thead > tr > th:hover{
    color: #418EC6;
  }

table > tbody > tr > td{
    text-align:center;
    vertical-align:middle !important;
} 

table > tbody > tr > td:hover{
     color: #418EC6;
} 

table {
    margin-top: 10px;
     white-space: nowrap;
}

.row-space {
    margin-top: 15px;
}

.row-bottom-space {
    margin-bottom: 15px;
}

.btn-longer {
    padding: 6px 20px !important;
}

.btn-no-padding {
    padding: 0;
}

.bg-notice {
    background-color: #0099cc;
    border-color: #0099cc;
    color: #ffffff;
}

.text-notice {
    color: #0099cc;
}

.btn-group.open > .dropdown-toggle.btn.btn-notice,
.btn-group-vertical.open > .dropdown-toggle.btn.btn-notice {
    background-color: #0099cc;
}

.btn:not(.btn-raised).btn-notice,
.input-group-btn .btn:not(.btn-raised).btn-notice {
    color: #0099cc;
}

.btn.btn-raised.btn-notice,
.input-group-btn .btn.btn-raised.btn-notice,
.btn.btn-fab.btn-notice,
.input-group-btn .btn.btn-fab.btn-notice,
.btn-group-raised .btn.btn-notice,
.btn-group-raised .input-group-btn .btn.btn-notice {
    background-color: #0099cc;
    color: rgba(255, 255, 255, 0.84);
}

.btn.btn-raised:not(.btn-link):hover.btn-notice,
.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-notice,
.btn-group-raised .btn:not(.btn-link):hover.btn-notice,
.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-notice,
.btn.btn-raised:not(.btn-link):focus.btn-notice,
.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-notice,
.btn-group-raised .btn:not(.btn-link):focus.btn-notice,
.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-notice,
.btn.btn-raised:not(.btn-link).active.btn-notice,
.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-notice,
.btn-group-raised .btn:not(.btn-link).active.btn-notice,
.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-notice,
.btn.btn-raised:not(.btn-link):active.btn-notice,
.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-notice,
.btn-group-raised .btn:not(.btn-link):active.btn-notice,
.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-notice {
    background-color: #218aad;
}

.btn-notice .badge {
    color: #0099cc;
    background-color: #fff;
}

.alert-notice {
    color: #ffffff;
    background-color: #0099cc;
    border: 1px solid #d9d9d9;
}

.form-group-extend {
    margin-top: 9px;
    padding-bottom: 0;
}

.form-control-extend {
    margin-bottom: 0;
}



/*-------------------------------------- Home --------------------------------------*/

.home-topbar {
    background-color: #266E98;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.home-topbar .user-system-logo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    left: 40px;
    position: relative;
}

.home-topbar .user-system-title {
    position: relative;
    color: white;
    left: 45px;
}

.home-topbar .user-title {
    float: right;
    color: white;
}

.home-topbar .user-name {
    float: right;
    margin-right: 3px;
    color: white;
}

.home-topbar .user-logout {
    float: right;
    margin-right: 20px;
    color: white;
}

.home-sidebar {
    height: 100%;
    width: 200px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50px;
    font-size: 16px;
    z-index: 2;
    overflow: auto;
}


.home-parentModule {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: left;
    border-bottom: 1px solid lightgray;
    color: #666666;
    font-size: 14px;
}

.home-parentModule-icon {
    margin-left: 20px;
    margin-right: 5px;
}

.home-parentModule-arrow-left {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 180px;
    margin-top: 23px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.home-parentModule-arrow-down {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 180px;
    margin-top: 23px;
}

.home-childModule {
    width: 100%;
    height: 40px;
    background-color: #F1F6FA;
    text-align: left;
    line-height: 40px;
}

.home-childModule-name:hover {
    color: #266E98;
    font-size: 14px;
}

.home-childModule-isSelected {
    color: #266E98;
    font-size: 14px;
    padding-left: 15px;
}

.home-childModule-notSelected {
    font-size: 12px;
    color: #666666;
    padding-left: 15px;
}

.home-childModule-dot {
    float: left;
    background-color: #266E98;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-left: 40px;
    margin-top: 19px;
}


/*.home-childModule-name{
    font-size: 12px;
    color: #266E98;
    padding-left: 15px;
}*/

.home-views {
    margin-left: 200px;
}



/*-------------------------------------- forkliftMonitor --------------------------------------*/

#mapWrape {
    background-color: gray;
    height: 300px;
}


/*-------------------------------------- forkliftSearch --------------------------------------*/

.forkliftSearch .form-group {
    margin: 0px;
}

.forkliftSearch .panel-body {
    padding: 0;
}

.blockTitle {
    height: 30px;
    line-height: 30px;
}

.titleBlock {
    display: inline-block;
    width: 10px;
    height: 30px;
    background-color: black;
}

.blockTitle h5 {
    position: absolute;
    display: inline-block;
    margin: 0px;
    top: 8px;
    left: 30px;
}


/*-------------------------------------- fkWorkTimeCharts --------------------------------------*/
.fkWorkTimeCharts{
    position: relative;
    top: 50px;
}

/*-------------------------------------- driverWorkTimeCharts --------------------------------------*/
.driverWorkTimeCharts{
     position: relative;
    top: 50px;
}




