/*--------------------------------maintainRemindInfo----------------------------------*/
.updatelabel{
    display: inline-block;
    max-width: 100%;
    font-weight: 500;
}
/*--------------------------------maintainRemindInfo----------------------------------*/