<module-view icon="app-product-icon" parent-title="监控中心 / " title="叉车监控">
    <div id="mapWrape" class="col-md-12">
        地图
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>
                    <div class="radio">
                        <label>
                            <input type="radio" name="one" disabled>
                        </label>
                    </div>
                </th>
                <th ng-click="col='car_sn';desc=!desc"><a href="javascript:void(0)" class="btn btn-default">叉车编号</a></th>
                <th ng-click="col='da_up';desc=!desc"><a href="javascript:void(0)" class="btn btn-default">数据时间</a></th>
                <th ng-click="col='work_hours';desc=!desc"><a href="javascript:void(0)" class="btn btn-default">工作小时数</a></th>
                <th ng-click="col='speed';desc=!desc"><a href="javascript:void(0)" class="btn btn-default">速度</a></th>
                <th ng-click="col='dump_energy';desc=!desc"><a href="javascript:void(0)" class="btn btn-default">载重</a></th>
                <th ng-click="col='driver_name';desc=!desc"><a href="javascript:void(0)" class="btn btn-default">驾驶人</a></th>
                <th><a href="javascript:void(0)" class="btn btn-default">在线</a></th>
                <th><a href="javascript:void(0)" class="btn btn-default">是否故障</a></th>
                <th><a href="javascript:void(0)" class="btn btn-default">锁车状态</a></th>
                <th><a href="javascript:void(0)" class="btn btn-default">限速状态</a></th>
                <th ng-click="col='department_name';desc=!desc"><a href="javascript:void(0)" class="btn btn-default">使用部门</a></th>
                <th><a href="javascript:void(0)" class="btn btn-default">位置</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in forkliftMonitor.tableData.rows | orderBy:col:desc">
                <td>{{$index+1}}</td>
                <td>
                    <div class="radio">
                        <label>
                            <input type="radio" name="one" ng-click="forkliftMonitor.checked(item.vid)">
                        </label>
                    </div>
                </td>
                <td bg-bind="item.car_sn"> <a href="http://www.baidu.com"> {{item.car_sn}} </a></td>
                <td ng-bind="item.da_up">{{item.da_up}}</td>
                <td ng-bind="item.work_hours">{{item.work_hours}}</td>
                <td ng-bind="item.speed">{{item.speed}}</td>
                <td ng-bind="item.dump_energy">{{item.dump_energy}}</td>
                <td ng-bind="item.driver_name">{{item.driver_name}}</td>
                <td>在线</td>
                <td>否</td>
                <td>未锁车</td>
                <td>未限速</td>
                <td ng-bind="item.department_name">{{item.department_name}}</td>
                <td>深圳</td>
            </tr>
        </tbody>
    </table>
    <app-pagination page-index="forkliftMonitor.condition.pageNo" total-items="forkliftMonitor.totalRecord" page-item-unit="forkliftMonitor.condition.pageSize" show-total="true"></app-pagination>
</module-view>
