<module-view icon="app-product-icon" parent-title="监控中心 / " title="叉车监控">
    <div id="mapWrape" class="col-md-12">
        地图
    </div>
    <div id="tableWrape" class="col-md-12">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        <div class="checkbox" >
                            <label>
                                <input type="checkbox" ng-click="forkliftMonitor.checkAll()">
                            </label>
                        </div>
                    </th>
                    <th></th>
                    <th>叉车编号</th>
                    <th>数据时间</th>
                    <th>工作小时数</th>
                    <th>速度</th>
                    <th>载重</th>
                    <th>驾驶人</th>
                    <th>在线</th>
                    <th>是否故障</th>
                    <th>锁车状态</th>
                    <th>限速状态</th>
                    <th>使用部门</th>
                    <th>位置</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in forkliftMonitor.tableData.rows">
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-click="forkliftMonitor.checked(item.vid)" ng-checked="forkliftMonitor.allChecked">
                            </label>
                        </div>
                    </td>
                    <td>{{$index+1}}</td>
                    <td> <a href="http://www.baidu.com"> {{item.car_sn}} </a>
                    </td>
                    <td>{{item.da_up}}</td>
                    <td>{{item.work_hours}}</td>
                    <td>{{item.speed}}</td>
                    <td>{{item.dump_energy}}</td>
                    <td>{{item.driver_name}}</td>
                    <td>在线</td>
                    <td>否</td>
                    <td>未锁车</td>
                    <td>未限速</td>
                    <td>{{item.department_name}}</td>
                    <td>深圳</td>
                </tr>
            </tbody>
        </table>
    </div>
</module-view>
