<module-view icon="app-product-icon" parent-title="监控中心 / " title="叉车监控">
    <div id="mapWrape" class="col-md-12">
        地图
    </div>
    <a class="btn btn-primary  btn-raised btn-lg " ng-click="forkliftMonitor.openForkliftSearch()">叉车检索</a>
    <div class="table-container">
        <table class="table table-condensed table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <div class="radio">
                            <label>
                                <input type="radio" name="one" disabled>
                            </label>
                        </div>
                    </th>
                    <th ng-click="col='car_sn';desc=!desc">叉车编号</th>
                    <th ng-click="col='da_up';desc=!desc">数据时间</th>
                    <th ng-click="col='work_hours';desc=!desc">工作小时数</th>
                    <th ng-click="col='speed';desc=!desc">速度</th>
                    <th ng-click="col='dump_energy';desc=!desc">载重</th>
                    <th ng-click="col='driver_name';desc=!desc">驾驶人</th>
                    <th>在线</th>
                    <th>是否故障</th>
                    <th>锁车状态</th>
                    <th>限速状态</th>
                    <th ng-click="col='department_name';desc=!desc">使用部门</th>
                    <th>位置</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in forkliftMonitor.tableData.rows | orderBy:col:desc">
                    <td>{{$index+1}}</td>
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" name="one" ng-click="forkliftMonitor.checked(item.vid)">
                            </label>
                        </div>
                    </td>
                    <td bg-bind="item.car_sn"> <a href="http://www.baidu.com"> {{item.car_sn}} </a></td>
                    <td ng-bind="item.da_up">{{item.da_up}}</td>
                    <td ng-bind="item.work_hours">{{item.work_hours}}</td>
                    <td ng-bind="item.speed">{{item.speed}}</td>
                    <td ng-bind="item.dump_energy">{{item.dump_energy}}</td>
                    <td ng-bind="item.driver_name">{{item.driver_name}}</td>
                    <td>在线</td>
                    <td>否</td>
                    <td>未锁车</td>
                    <td>未限速</td>
                    <td ng-bind="item.department_name">{{item.department_name}}</td>
                    <td>深圳</td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination page-index="forkliftMonitor.condition.pageNo" total-items="forkliftMonitor.totalRecord" page-item-unit="forkliftMonitor.condition.pageSize" show-total="true"></app-pagination>
</module-view>
