<div class="modal-header">
    <div class="modal-title">叉车检索</div>
</div>
<div class="modal-body forkliftSearch">
    <div class="form-group label-floating ">
        <label class="control-label" for="addon2">输入控制器编号或者叉车编号</label>
        <div class="input-group">
            <input type="text" id="addon2" class="form-control">
            <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">查询</button>
                </span>
        </div>
    </div>
    <div class="form-group">
        <label for="select1" class="control-label">选择在线状态</label>
        <div class="">
            <select id="select1" class="form-control">
                <option>在线</option>
                <option>离线</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="select2" class=" control-label">刷新频率</label>
        <div class="">
            <select id="select2" class="form-control">
                <option>不刷新</option>
                <option>每150s</option>
                <option>每60s</option>
                <option>每45s</option>
                <option>每30s</option>
            </select>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">当前提醒</h3>
        </div>
        <div class="panel-body">
            <div class="checkbox col-md-offset-1">
                <label>
                    <input type="checkbox"> 保养到期
                </label>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">当前违规</h3>
        </div>
        <div class="panel-body">
            <div class="checkbox col-md-offset-1">
                <label>
                    <input type="checkbox"> 超速
                </label>
            </div>
            <div class="checkbox col-md-offset-1">
                <label>
                    <input type="checkbox"> 超载
                </label>
            </div>
            <div class="checkbox col-md-offset-1">
                <label>
                    <input type="checkbox"> 离位超时
                </label>
            </div>
            <div class="checkbox col-md-offset-1">
                <label>
                    <input type="checkbox"> 偏离电子围栏
                </label>
            </div>
            <div class="checkbox col-md-offset-1">
                <label>
                    <input type="checkbox"> 碰撞
                </label>
            </div>
            <div class="checkbox col-md-offset-1 ">
                <label>
                    <input type="checkbox"> 没系安全带
                </label>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">当前报警</h3>
        </div>
        <div class="panel-body">
            <div class="checkbox col-md-offset-1">
                <label>
                    <input type="checkbox"> 机油压力报警
                </label>
            </div>
            <div class="checkbox col-md-offset-1">
                <label>
                    <input type="checkbox"> 油水分离报警
                </label>
            </div>
            <div class="checkbox col-md-offset-1">
                <label>
                    <input type="checkbox"> 油温过高报警
                </label>
            </div>
            <div class="checkbox col-md-offset-1">
                <label>
                    <input type="checkbox"> 制动压力报警
                </label>
            </div>
        </div>
    </div>
     <a  class="btn btn-primary  btn-raised btn-lg" ng-click="">查询</a>


</div>
<div class="modal-footer">
    <a class="btn btn-primary" ng-click="forkliftSearch.close()">关闭</a>
</div>
