<div class="modal-header">
    <!-- <div class="modal-title">叉车检索</div> -->
    <div class="row">
        <div class="col-md-12 block-title">修改信息</div>
    </div>
</div>
<div class="modal-body maintainRemindInfo">
        <div class="form-group col-md-6">
          <div class="col-md-6">
          <label for="device_no">叉车编号</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="device_no">
          </div>
        </div>

        <div class="form-group col-md-6">
         <div class="col-md-6">
         <label for="inputEmail">上次保养日期</label>
         </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="inputEmail">
          </div>
        </div>

         <div class="form-group col-md-6">
          <div class="col-md-6">
          <label for="workhours">工作小时数</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="workhours">
          </div>
        </div>

        <div class="form-group col-md-6">
         <div class="col-md-6">
         <label for="last_workhours">上次保养工作小时数</label>
         </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="last_workhours">
          </div>
        </div>

         <div class="form-group col-md-6">
          <div class="col-md-6">
          <label for="next_workhours">距下次保养小时数</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="next_workhours">
          </div>
        </div>

         <div class="form-group col-md-6">
          <div class="col-md-6">
          <label for="maintaincost">保养费用</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="maintaincost">
          </div>
        </div>

       <div class="form-group col-md-6">
        <div class="col-md-6">
        <label for="maintain_provider">保养厂商</label>
        </div>
         <div class="col-md-6">
           <input type="text" class="form-control" id="maintain_provider">
         </div>
       </div>
       
        <div class="form-group col-md-6">
         <div class="col-md-6">
         <label for="da_maintain">保养登记日期</label>
         </div>
         <div class="col-md-6">
           <input type="text" class="form-control" id="da_maintain">
         </div>
       </div>
       
        <div class="form-group col-md-6">
         <div class="col-md-6">
         <label for="brokerage">经手人</label>
         </div>
         <div class="col-md-6">
           <input type="text" class="form-control" id="brokerage">
         </div>
       </div>
       
       <div class="form-group col-md-6">
         <div class="col-md-6">
         <label for="register1111">登记用户</label>
         </div>
         <div class="col-md-6">
           <input type="text" class="form-control" id="register11111">
         </div>
       </div>
       
       <div class="form-group col-md-6">
        <div class="col-md-6">
        <label for="remark">备注</label>
        </div>
         <div class="col-md-6">
           <input type="text" class="form-control" id="remark">
         </div>
       </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-raised btn-info" 
    ng-click="maintainRemindInfo.save()">保存</button>
    <button type="button" class="btn btn-raised btn-default" 
    ng-click="maintainRemindInfo.close()">关闭</button>
</div>