<module-view icon="app-product-icon" parent-title="系统管理 / " title="数据字典">

<div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="jumbotron col-md-12">
                <div class="row">
                    <div class="col-md-12 block-title">搜索条件</div>
                </div>
                <div class="form-group label-floating col-md-8">
                    <div class="">
                      <label class="control-label" for="user_name">关键字</label>
                      <input class="form-control" id="user_name" type="text">
                    </div>                
                 </div>
                  <div class="col-md-2">
                      <a class="btn btn-primary btn-raised btn-lg pull-right pull-buttom">查询</a>
                  </div>
            </div>

            <div class="wrapper-sm bg-white-only b-b">
               <button class="btn m-l-xs btn-sm btn-info btn-raised">
                 <i class="fa fa-unlock"></i>新增</button>
                 <button class="btn m-l-xs btn-sm btn-success btn-raised">
                 <i class="fa fa-plus"></i>編輯</button>
               <button class="btn m-l-xs btn-sm btn-danger btn-raised">
                 <i class="fa fa-lock"></i>刪除</button>          
               		          
      
            </div>
           
            <div id="tableWrape" class="table-container">
             <table class="table table-condensed table-hover table-bordered table-striped">
              <thead>
                <tr>
                    <th></th>
                    <th>
                       <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-click="data.checkedAll()">
                            </label>
                        </div>
                    </th>
                    <th ng-click="col='codetype';desc=!desc">字典类型</th>
                    <th ng-click="col='codetext';desc=!desc">字典显示</th>
                    <th ng-click="col='codevalue';desc=!desc">字典值</th>
                    <th ng-click="col='detail';desc=!desc">详细描述</th>
                    <th ng-click="col='sort_no';desc=!desc">排序</th>
                    <th ng-click="col='da_add';desc=!desc">添加时间</th>
                    <th ng-click="col='da_update';desc=!desc">修改时间</th>                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.tableData.rows | orderBy:col:desc">
                    <td>{{$index+1}}</td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="data.allChecked">
                            </label>
                        </div>
                    </td>
                    <td bg-bind="item.codetype">{{item.codetype}}</td>
                    <td ng-bind="item.codetext">{{item.codetext}}</td>
                    <td ng-bind="item.codevalue">{{item.codevalue}}</td>
                    <td ng-bind="item.detail">{{item.detail}}</td>
                    <td ng-bind="item.sort_no">{{item.sort_no}}</td>
                    <td ng-bind="item.da_add">{{item.da_add}}</td>
                    <td ng-bind="item.da_update">{{item.da_update}}</td>
                </tr>
            </tbody>
         </table>
         <app-pagination page-index="data.condition.pageNo" total-items="data.totalRecord" page-item-unit="data.condition.pageSize" show-total="true"></app-pagination>
         </div>
        <div>
        </div> 
       </div>    
     </div> 
    </div>


</module-view>
