<module-view icon="app-product-icon" parent-title="系统管理 / " title="组织架构与部门管理">

<div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="jumbotron col-md-12">
                <div class="row">
                    <div class="col-md-12 block-title">搜索条件</div>
                </div>
                <div class="form-group label-floating col-md-8">
                    <div class="">
                      <label class="control-label" for="user_name">关键字</label>
                      <input class="form-control" id="user_name" type="text">
                    </div>                
                 </div>
              
                  <div class="col-md-2">
                      <a class="btn btn-primary btn-raised btn-lg pull-right pull-buttom">查询</a>
                  </div>
            </div>

            <div class="wrapper-sm bg-white-only b-b">
               <button class="btn m-l-xs btn-sm btn-info btn-raised">
                 <i class="fa fa-unlock"></i>新增</button>
                 <button class="btn m-l-xs btn-sm btn-success btn-raised">
                 <i class="fa fa-plus"></i>编辑</button>
               <button class="btn m-l-xs btn-sm btn-danger btn-raised">
                 <i class="fa fa-lock"></i>刪除</button>          
               		          
      
            </div>
           
            <div id="tableWrape" class="table-container">
             <table class="table table-condensed table-hover table-bordered table-striped">
              <thead>
                <tr>
                    <th></th>
                    <th>
                       <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-click="framework.checkedAll()">
                            </label>
                        </div>
                    </th>
                    <th ng-click="col='department_name';desc=!desc">部门名称</th>
                    <th ng-click="col='tel';desc=!desc">电话</th>
                    <th ng-click="col='fax';desc=!desc">传真</th>
                    <th ng-click="col='address';desc=!desc">地址</th>
                    <th ng-click="col='zip_code';desc=!desc">邮编</th>
                    <th ng-click="col='charger';desc=!desc">部门领导</th>
                    <th ng-click="col='mobile';desc=!desc">手机</th>                    
                    <th ng-click="col='eamil';desc=!desc">电子邮箱</th>
                    <th ng-click="col='link_man';desc=!desc">联系人</th>
                    <th ng-click="col='mobile1';desc=!desc">手机</th>  <th ng-click="col='eamil1';desc=!desc">电子邮箱</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in framework.tableData.rows | orderBy:col:desc">
                    <td>{{$index+1}}</td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="framewor.allChecked">
                            </label>
                        </div>
                    </td>
                    <td bg-bind="item.department_name">{{item.department_name}}</td>
                    <td ng-bind="item.tel">{{item.tel}}</td>
                    <td ng-bind="item.fax">{{item.fax}}</td>
                    <td ng-bind="item.address">{{item.address}}</td>
                    <td ng-bind="item.zip_code">{{item.zip_code}}</td>
                    <td ng-bind="item.charger">{{item.charger}}</td>
                    <td ng-bind="item.mobile">{{item.mobile}}</td>
                    <td ng-bind="item.eamil">{{item.eamil}}</td>
                    <td ng-bind="item.link_man">{{item.link_man}}</td>
                    <td ng-bind="item.mobile1">{{item.mobile1}}</td>
                    <td ng-bind="item.eamil1">{{item.eamil1}}</td>
                </tr>
            </tbody>
         </table>
         <app-pagination page-index="framework.condition.pageNo" total-items="framework.totalRecord" page-item-unit="framework.condition.pageSize" show-total="true"></app-pagination>
         </div>
        <div>
        </div> 
       </div>    
     </div> 
    </div>


</module-view>
