<div class="modal-header">
    <!-- <div class="modal-title">叉车检索</div> -->
    <div class="row">
        <div class="col-md-6 block-title">修改信息</div>
    </div>
</div>
<div class="modal-body">
        <div class="form-group col-md-6">
          <div class="col-md-5">
          <div for="device_no" class="updatelabel">维修单据号:</div>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="device_no">
          </div>
        </div>

       <div class="form-group col-md-6">
          <div class="col-md-5">
          <div for="workhours" class="updatelabel">叉车编号:*</div>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="workhours">
          </div>
        </div>

        <div class="form-group col-md-6">
         <div class="col-md-5">
         <div for="last_workhours" class="updatelabel">维修时间:*</div>
         </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="last_workhours">
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="col-md-5">
          <div for="device_no" class="updatelabel">维修类型:*</div>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="device_no">
          </div>
        </div>
         <div class="form-group col-md-6">
          <div class="col-md-5">
          <div for="device_no" class="updatelabel">维修内容: *</div>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="device_no">
          </div>
        </div>
         <div class="form-group col-md-6">
         <div class="col-md-5">
         <div for="last_workhours" class="updatelabel">维修厂商:*</div>
         </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="last_workhours">
          </div>
        </div>
         <div class="form-group col-md-6">
          <div class="col-md-5">
          <div for="device_no" class="updatelabel">维修费用: *</div>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="device_no">
          </div>
        </div>
         <div class="form-group col-md-6">
         <div class="col-md-5">
         <div for="last_workhours" class="updatelabel">经手人:*</div>
         </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="last_workhours">
          </div>
        </div>
         <div class="form-group col-md-6">
          <div class="col-md-5">
          <div for="device_no" class="updatelabel">登记人: *</div>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="device_no">
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="col-md-5">
          <div for="device_no" class="updatelabel">备注:</div>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" id="device_no">
          </div>
        </div>


</div>

<div class="modal-footer">
    <button type="button" class="btn btn-raised btn-info" 
    ng-click="roleAdd.save()">保存</button>
    <button type="button" class="btn btn-raised btn-default" 
    ng-click="roleAdd.close()">关闭</button>
</div>